@using Microsoft.AspNet.Identity
@using TaskManager.DAL
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Здравствуйте,@User.Identity.GetUserName()</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div>
                        @{
                            using (DataContext context = new DataContext())
                            {
                                var id = context.UserDatas.AsParallel().Where(x => x.LastName + " " + x.FirstName + " " + x.MiddleName == User.Identity.Name).FirstOrDefault().Id;
                                <a id="editUserData" href="#" class="dropdown-item" data-id="@id">Профиль</a>
                                @*@Html.ActionLink("Профиль", "EditUserData", "Account", new { id = id }, htmlAttributes: new { @class = "dropdown-item", id = "editUserData" })*@
                            }
                        }
                    </div>

                    @if (Context.User.IsInRole("Administrator"))
                    {
                        <div>
                            <a id="listUser" href="#" class="dropdown-item">Пользователи</a>
                        </div>
                    }

                    <div>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                    </div>
                </div>
            </li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
